.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    color: hsl(192, 100%, 9%);
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins',sans-serif;
}
header,section,footer{
    padding: 0 50px;
}
header{
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    height: 5vh;
}
button:hover{
    cursor: pointer;
}
.cta,.cta1{
    border-radius: 50px;
}
.cta{
    font-family: 'Open Sans',sans-serif;
    background-color:transparent;
    color: hsl(322, 100%, 66%);
    padding: 8px 30px;
    border: 1px solid hsl(322, 100%, 66%);
}
.cta:hover{
    border-color: hsla(322, 100%, 66%, 0.5);
    color: hsla(322, 100%, 66%, 0.5);
}
.cta1{
    color: hsl(207, 100%, 98%);
    font-weight: bold;
    border: none;
    padding: 15px 50px;
    box-shadow: 4px 6px 6px hsla(228, 45%, 44%, 0.2);
    background-color: hsl(322, 100%, 66%);
}
.cta1:hover{
    background-color: hsla(322, 100%, 66%, 0.7);
}
h1{
    font-size: 2.5em;
}
.section1{
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}
.main-p{
    margin: 0 auto;
    width: 35%;
    margin-bottom: 5%;
}
.screen-mockups{
    margin-top: 5%;
    height: 80vh;
}
h2{
    font-size: 3em;
}
.stats-container{
    text-align: left;
    margin-top: 5%;
    justify-content: center;
    gap: 20%;
    display: flex;
}
.stats-p{
    color: hsla(228, 45%, 44%, 0.5);
}
.images,.left-image{
    height: 50vh;
}
.section2,.section3,.section4{
    justify-content: space-between;
    margin-top: 10%;
    display: flex;
}
.section2{
    background-image: 
    url('images/bg-section-top-desktop-1.svg'), 
    url('images/bg-section-bottom-desktop-1.svg');
    background-repeat: no-repeat;

}
.section-p{
    width: 65%;
}
.bottom-div{
    width: 40%;
    margin: 0 auto;
    padding: 50px 0;
}
i{
    margin-right: 10px;
}
.fa-facebook-f,.fa-twitter{
    color: hsl(192, 100%, 9%);
    background-color: hsl(207, 100%, 98%);
    padding: 3px;
}
.fa-facebook-f:hover,.fa-twitter:hover{
    background-color: hsl(228, 50%, 55%);
}
.fa-instagram:hover{
    color: hsl(228, 50%, 55%);
}
.icon{
    margin-right: 10px;
}
.icons{
    margin-top: 5%;
}
input,.Subscribe{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.Subscribe{
    margin-left: 20px;
    color: hsl(207, 100%, 98%);
    background-color: hsl(322, 100%, 66%);
}
h5{
    text-transform: uppercase;
    font-size: 1.3em;
}
footer{
    font-size: 0.8em;
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    padding-bottom: 50px;
    color: hsl(207, 100%, 98%);
    background-color: hsl(192, 100%, 9%);
    background-image: url("images/bg-footer-top-desktop.svg");
}
.footer-p{
    margin-bottom: 5%;
    width: 50%;
}
@media screen and (max-width: 1000px) {
    header{
        margin-bottom: 15%;
    }
    h1{
        margin: 5% auto;
        width: 60%;
    }
    .main-p{
        width: 45%;
    }
    .stats-container{
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .icon{
        margin-top: 30%;
    }
    .section2,.section3,.section4{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2,.section4{
        flex-direction: column-reverse;
    }
    .images,.left-image{
        width: 50%;
        margin-bottom: 10%;
    }
    .section-p,.left-section-p{
        margin: 0 auto;

        width: 80%;
    }
    .bottom-div{
        text-align: center;
    }
    h4{
        font-size: 2em;
    }
}